/*this sets atrributes for whole page*/
* {
	margin: 0;
	padding: 0;
}

.card {
	
	display: inline-block;
	max-width: 30%;
	font-family: helvetica;
	font-size: .75em;
	border: solid 1px lightblue;
}
.title {
	border: dotted 1px lightgrey;
	font-weight: bold;
}

img {
	max-width: 100%;
}